{
  "ignore": ["node-modules/**"],
   "env": {
      "test": {
         "presets": ["env"]
      }
   },
   "presets": [
      ["env", {
        "modules": false,
        "useBuiltIns": true,
        "debug": true,
        "include": ["es6.promise"]
      }],
      "react"
   ],
   "plugins": [
      "transform-object-rest-spread",
      "transform-react-jsx"
    ]
}